*{margin: 0; padding: 0;
  font-size: 10px;}
/* #back{text-align: center; width: 100vw; height:auto;} */
.wrapper{ width: 100%; 
  height: 100vh;}
.img{
    background: url(./image/finalback.jpg);
    width: 100vw; 
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  div form input { display: block;}
 div button {border: none; }
 div button:checkd ~ .medium{display: block;}
 button:hover{background-color: gray;}
 .short{position: absolute;}
 .medium{display: none;}
 .final{position: absolute; visibility: hidden;}
.goal_name{position: absolute;}
 
 /* .box{width: 25px; height: 50%; background-color: rgb(176, 192, 217); position: absolute; top: 28vw; left: 37vh; border-radius: 30px; border: black;} */
 /* .box{width: 25px; height: 50px; background-color: rgb(176, 192, 217); 
  pfloat: right;} */
