
* {
  font-size: 10px;
  margin: 0;
  border: 0;
}
/* 글자 가로 정렬 */
body > div > header,section{text-align: center}
/* 폰트 지정 */
header{font-family: berkshire swash;}
span{font-family: jomhuria;}
section{font-family: Oleo Script Swash Caps;}
div > div {font-family: "Gowun Dodum"; text-align: center; background-color: white;}
/* 폰트 크기 지정 */
header{font-size: 15rem;}
span{font-size: 10rem;}
section > a {font-size: 3.5rem;}
div> div {font-size: 3.8rem;}
/* header 디자인 */
header{display: block; border-style: solid;  color: white; background-color: rgba(0, 0, 0,0.75);}
/* main 디자인 */
main > div > div > img {display: block; margin: auto; width: 30vw; border: rgba(255, 250, 250, 0.13);}
main {background-color:  rgba(0, 0, 0,0.75); border:  rgba(0, 0, 0,0.75); border-style: solid; border-width: 5.5vw 3vw; }
section a {text-decoration: none; color: white;background-color: rgba(114, 103, 103, 0.308); display: block; }
main > div  {display: flex; justify-content: center;}
